<% content_for :title, "Eureka Caffe - Shopping Cart" %>

<% content_for :hero_content do %>
  <h1>Shopping Cart</h1>
  <div class="hero-divider">
    <svg class="squiggle" width="600" height="28" viewBox="0 0 600 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 14 Q 8 0, 16 14 T 32 14 T 48 14 T 64 14 T 80 14 T 96 14 T 112 14 T 128 14 T 144 14 T 160 14 T 176 14 T 192 14 T 208 14 T 224 14 T 240 14 T 256 14 T 272 14 T 288 14 T 304 14 T 320 14 T 336 14 T 352 14 T 368 14 T 384 14 T 400 14 T 416 14 T 432 14 T 448 14 T 464 14 T 480 14 T 496 14 T 512 14 T 528 14 T 544 14 T 560 14 T 576 14 T 592 14 T 600 14" stroke="white" stroke-width="2" fill="none"/>
    </svg>
    <span class="cutlery-icon">
      <img src="https://png.pngtree.com/png-clipart/20231115/ourmid/pngtree-fork-and-knife-png-image_10593218.png" alt="Cutlery" />
    </span>
    <svg class="squiggle" width="600" height="28" viewBox="0 0 600 28" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 14 Q 8 0, 16 14 T 32 14 T 48 14 T 64 14 T 80 14 T 96 14 T 112 14 T 128 14 T 144 14 T 160 14 T 176 14 T 192 14 T 208 14 T 224 14 T 240 14 T 256 14 T 272 14 T 288 14 T 304 14 T 320 14 T 336 14 T 352 14 T 368 14 T 384 14 T 400 14 T 416 14 T 432 14 T 448 14 T 464 14 T 480 14 T 496 14 T 512 14 T 528 14 T 544 14 T 560 14 T 576 14 T 592 14 T 600 14" stroke="white" stroke-width="2" fill="none"/>
    </svg>
  </div>
  <p>Review your order and proceed to checkout.</p>
<% end %>

<div class="cart-container">
  <% if @cart_items.any? %>
    <div class="cart-items">
      <% @cart_items.each do |cart_item| %>
        <div class="cart-item">
          <div class="cart-item-image">
            <img src="<%= cart_item.product.image %>" alt="<%= cart_item.product.name %>">
          </div>
          <div class="cart-item-details">
            <h3><%= cart_item.product.name %></h3>
            <p class="cart-item-price">$<%= number_with_precision(cart_item.product.price, precision: 2) %></p>
            <p class="cart-item-quantity">Quantity: <%= cart_item.quantity %></p>
          </div>
          <div class="cart-item-actions">
            <%= button_to "Remove", remove_from_cart_path(cart_item), method: :delete, class: "remove-cart-btn", data: { confirm: "Remove this item from cart?" } %>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="cart-summary">
      <div class="cart-total">
        <h3>Total: $<%= number_with_precision(@cart.total_price, precision: 2) %></h3>
      </div>
      <div class="cart-actions">
        <%= link_to "Continue Shopping", root_path, class: "btn btn-secondary" %>
        <button class="btn btn-primary place-order-btn">Place Order</button>
      </div>
    </div>
  <% else %>
    <div class="empty-cart">
      <h2>Your cart is empty</h2>
      <p>Add some delicious items to your cart to get started!</p>
      <%= link_to "Browse Menu", root_path, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
