<% content_for :title, "Eureka Caffe - My Orders" %>

<% content_for :hero_content do %>
  <%= render 'shared/hero', title: 'My Orders', description: 'Track your order history and current orders.' %>
<% end %>

<div class="orders-container">
  <% if @orders.any? %>
    <div class="orders-list">
      <% @orders.each do |order| %>
        <div class="order-item <%= order.status %>">
          <% order_actions = capture do %>
            <%= link_to order_path(order), class: "btn btn-primary", title: "View order details" do %>
              <i class="fas fa-eye"></i> View Details
            <% end %>
          <% end %>
          
          <%= render 'order_header', order: order, order_actions: order_actions %>
          
          <%= render 'order_items_list', order: order %>
          
          <%= render 'order_footer', order: order %>
        </div>
      <% end %>
    </div>
  <% else %>
    <% action_button = capture do %>
      <%= link_to "Browse Products", root_path, class: "btn btn-primary" %>
    <% end %>
    
    <%= render 'empty_orders', title: 'No orders yet', description: "You haven't placed any orders yet. Start by adding items to your cart!", action_button: action_button %>
  <% end %>
</div>
